<!-- New code with bootstrap -->

<!-- Navbar -->
<div class="container">
    <section id="navbar">


        <nav class="navbar navbar-expand">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img id="navLogo" src="img/logo.png" alt="Highlands Logo"></a>
                <div id="menu">
                    <a class="nav-link darkToggle" aria-current="page" href="#"><i
                            class="darkIcon fa-regular fa-moon fa-2xl"></i></a>
                    <a class="nav-link" aria-current="page" href="/announcements"><i
                            class="fa-solid fa-scroll fa-2xl"></i></a>
                    <a class="nav-link" href="https://discord.gg/banishedmc"><i
                            class="fa-brands fa-discord fa-2xl"></i></a>
                </div>
            </div>
        </nav>



    </section>
    <!-- Navbar overlay -->
    <section id="header">
        <div id="inner-header" class="text-center font-title">
            <h1 id="header-title">
                <span>Server News</span>
            </h1>
            <h5 id="header-subtitle" class="">Keep up to date on official &amp; important news from BanishedMC.</h5>
        </div>
    </section>
    <!-- Grid to display announcement cards and pagination tab -->
    <div class="container" id="content">
        <section id="announcements">
            <!-- Pagination section -->
            <section id="pagination-container">
                <div class="card2">
                    <div class="card-body">
                        <nav id="pagination-nav" aria-label="Page navigation">
                            <ul class="pagination">
                                <!-- the ids are referenced in announcements.js for functionality -->
                                <li class="page-item"></li>
                                <li id="discordNews" class="page-item font-title"><a id="discordLink" class="page-link"
                                        href="#">Discord News</a></li>
                                <li class="page-link page-item" id="page-selector">
                                    <a href="#">
                                        <i id="pageLeft" class="fa-solid fa-angle-left"></i>
                                    </a>
                                    <span id="pageNum" class="font-title">Page 1</span>
                                    <a href="#">
                                        <i id="pageRight" class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
            <!-- Content in this row is filled with javascript -->
            <div class="row">

                {{#each messages}}
                <div class="try hide col-lg-4 col-md-6 col-sm-12">
                    <a class='trigger modalbtn' data-bs-target="#newsModal" data-bs-toggle="modal" id="modal-link">
                        <div class="card1">
                            <div class="card1-body">
                                {{#if this.mentions}}
                                {{#each this.mentions}}
                                <p class="hide mention name">{{{username}}}</p>
                                <p class="hide mention userID">{{{id}}}</p>
                                {{/each}}
                                {{/if}}
                                {{#if this.message_attachments}}
                                {{#each this.message_attachments}}
                                    <p class="hide img">{{{url}}}</p>
                                {{/each}}
                                {{/if}}
                                {{#if this.message_embed}}
                                {{#each this.message_embed}}
                                    <p class="hide type">{{{this.type}}}</p>
                                    <p class="hide embedTitle">{{{this.title}}}</p>
                                    <p class="hide embedDescriptions">{{{this.description}}}</p>
                                    <p class="hide embedUrl">{{{this.url}}}</p>
                                    {{#if this.thumbnail}}
                                    <p class="hide thumbnailUrl">{{{this.thumbnail.url}}}</p>
                                    {{/if}}
                                {{/each}}
                                {{/if}}
                                
                                
                                <h3 class="font-title">{{{this.author}}}</h3>
                                <h3 class="font-title">{{{format_date this.createdTimestamp}}}</h3>
                                <h6 id="contentBody" class="font-text">{{{this.content}}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
                <!-- Modal -->
                <div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="newsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                        {{#each messages}}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-title" id="newsModalLabel">{{{format_date
                                    this.createdTimestamp}}} {{{this.author}}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="storage modal-body font-text">
                                <p>{{{this.content}}}</p>
                                
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>


            </div>
    </div>
    </section>
    <footer class="footer">
        {{!-- <a href="options">Developer Options</a> --}}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/news.js" type="text/javascript"></script>
</div>